GitShiver/*
Pipeline/.nextflow
Pipeline/Results/
#Pipeline/RawData/*
Pipeline/.nextflow.log*
Pipeline/.nextflow
Pipeline/Test/
Pipeline/work/
Pipeline/.DS_Store
Pipeline/work/Scripts/bin/tools/__pycache__/AuxiliaryFunctions.cpython-310.pyc