Pipeline/.nextflow
Pipeline/RawData/*.gz
Pipeline/.nextflow.log*
Pipeline/.nextflow
Pipeline/work/
Pipeline/Test/
Pipeline/conda
Pipeline/RawData/*.gz
Pipeline/ToDo/.command.log
Pipeline/HTML/*
Pipeline/Results
Pipeline/PRRT_INT_FASTA/